<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Draper Ipsum</title>

  <script type="text/javascript" src="//use.typekit.net/wki7cib.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <header>
    <h1>Draper <span>Ipsum</span></h1>
  </header>
  <section class="main">
    <%= yield %>
  </section>
  <footer>
    A half-finished project by <a href="http://twitter.com/nathancarnes">@nathancarnes</a>. Want to help?
  </footer>
</body>
</html>
