body{
  margin: 2em auto;
  max-width: 640px;
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
}

::selection{
  background: #e11c17 !important;
  color: #fff !important;
}

h1{
  color: #e11c17;
  text-transform: uppercase;
  margin: 0;
  font-size: 6em;
  font-weight: normal;

  span{
    color: #000;
  }
}

header{
  margin-bottom: 2em;
}

p{
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0;
}

a{
  text-decoration: none;
  color: #e11c17;

  &:hover{
    color: #000;
  }
}

a.button{
  display: inline-block;
  text-align: center;
  margin: 2em auto 0;
  padding: .5em 2em .3em;
  background: #e11c17;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4em;

  &:hover{
    background: #000;
  }
}

footer{
  margin-top: 4em;
  padding-top: 3em;
  border-top: 10px solid #ddd;
  font-size: 1.2em;
  color: #aaa;
  text-decoration: uppercase;
  text-align: center;
}
